/*Webbtjänster - Grupp 1 - Made by Eric Malmström and Anita Olsson*/

body{
    /* background image */
    background-image: url("matrixpurple.gif");

    background-size: 50% 250%;


}

.main{
    /* background colors (red) and text colors (White) */
   background-color: red;
   color:white;
    
   /*This puts it in the center */
    margin:auto;
    margin-top:20%;
    width:400px;
    height:150px;

    /* This centers text */
    line-height: 4;
    text-align: center;
}

h1 {
    /* Turns the mouse icon pointer into a pointer icon */
    cursor:pointer;
}
