/*Webbtjänster - Grupp 1 - Made by Eric Malmström and Anita Olsson*/

body,html{
    margin:0;   
    height:100%;
}

div{
    float:left;
    color:black;
    margin:auto;
    text-align: center;
}

.HumanPage{
    background-color: aliceblue;
    width:50%;
    height:100%;
    
    /* border-right: 10px solid black; */

}

.ComputerPage{
    background-color: greenyellow;
    width:50%;
    height:100%;
}

img{
    max-width: 475px;
    max-height: 475px;
}